* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
body {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  padding: auto;
}
