@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul,
ol,
li {
  list-style: none;
}
p {
  font-weight: 600;
  color: #1d1f22;
  font-size: 18px;
}

body {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  padding: auto;
  background: #ffffff;
  padding-bottom: 60vh;
}

.Overlay {
  background: rgba(57, 55, 72, 0.22);
}
