@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul,
ol {
  list-style: none;
}
body {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  padding: auto;
}

